<section class="section container-fluid">
  <div class="container">
    <div class="row">
      <mat-card class="form-container">
        <form action="#" [formGroup]="myForm" (ngSubmit)="saveInfo(); $event.preventDefault();">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Example Kostya" [(ngModel)]="name" formControlName="user_Name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Example Orlov" [(ngModel)]="surname" formControlName="user_Surname">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Choose Framework</mat-label>
            <mat-select [(ngModel)]="selectFramework.id" (selectionChange)="onSelect($event.value)" formControlName="framework">
              <mat-option value="0">--Select--</mat-option>
              <mat-option *ngFor="let fm of frameworks" value="{{ fm.id }}">
                {{fm.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Choose Framework Version</mat-label>
            <mat-select [disabled]="!selectFramework.id" [(ngModel)]="frameworkVersion" formControlName="version">
              <mat-option value="0">--Select--</mat-option>
              <mat-option *ngFor="let version of versions" value="{{ version.value}}">
                {{version.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Example test@test.com" [(ngModel)]="email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="example-chip-list">
            <mat-label>Your hobby</mat-label>
            <mat-chip-list #chipList aria-label="hobby">
              <mat-chip *ngFor="let hobby of hobbies" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(hobby)">
                {{hobby.hobbyName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="hobby..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"
                     [(ngModel)]="chips" name="chips"
                     formControlName="hobby">
            </mat-chip-list>
          </mat-form-field>

          <button mat-stroked-button color="accent" [disabled]="!myForm.valid">Save</button>
        </form>
      </mat-card>
    </div>
  </div>
</section>
